.none-suggest-search {
  display: none;
}
.suggest-search {
  position: absolute;
  background: white;
  z-index: 1000;
  overflow-y: auto;
  width: 274px;
  margin-top: 12px;
  .list-result {
    border: 1px solid #dfdfdf;
    ul {
      li {
        padding: 6px 12px;
      }
    }
  }
}
.post-filter-form {
  .form-group {
    margin: 0;
    .form-control {
      width: 274px;
    }
  }
}
